/* HPD-VIOLATIONS STYLE */

select, button {
  padding: 2px;
  border: none;
  outline: none;
  cursor:pointer;
  box-shadow: 2px 2px 2px gray;
}

.rounded {
  border-radius: 20px;
}

.blue-back {
  background-color: rgba(31,120,180,0.5);
}

.red-back {
  background-color: rgba(227,26,26, 0.5);
}

.toggleBox {
  height: 2em; 
  line-height: 2em; 
  cursor:pointer;  
}

.btn-on {
  background-color: rgba(227,26,26, 0.5);
}

.btn-off:hover  {
  background-color: rgba(31,120,180,0.1);
}
